.signin-panel-wrapper {
    width: 40%;
    height: 500px;
    margin: 5rem auto;

    border: 5px solid $green-3;

    .signin-text-wrapper {
        padding-left: 2rem;
    }

    .signin-buttons-wrapper {
        margin: auto;
        text-align: center;
    }
}